html {
    overflow-y: scroll;
}

body {
    margin: 0;
}
body {
    background-color: #F5F5DC;
    color: #5C4033;      /* 本文はこげ茶色 */
}

h1 {
    color: #A66A2C;      /* h1だけ茶色 */
    font-size: 35px;
    text-align: left;
   
        
}
h2 {
    color: #5C4033;
    text-align: center;
    width:fit-content;
    margin: 20px auto 30px;
    padding-bottom:10px;
    font-size: 30px;
    border-bottom:2px solid #5C4033;
}
h3 {
    color: #5C4033;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
p {
    text-align: center;
    position: relative;
    top: -10px;
}
nav {
    text-align: center;
    margin-top: 10px;
    position: relative;
    top: -10px;
}
nav a {
    color: #5C4033;
    text-decoration: none;
    margin: 0 60px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.3s;
   font-size: 17px;
}

nav a:hover {
    background-color: #7A8F6B;
    color: white;
}
.top-image {
    display: block;
    margin: 0 auto;
}
ul {
    width: fit-content;
    margin: 0 auto;
    padding-left: 25px;
}

li {
    margin: 8px 0;
}
.gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 80px;
}
.gallery-section 
{
    width: 100%;
    background-image: url("肉球背景.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 30px 0 80px;
}
.cat {
    text-align: center;
}

.cat p {
    margin-top: 10px;
    font-weight: bold;
}
.access-box {
    width: 600px;
    width:85%;
    margin: 40px auto;
    padding: 20px 30px 0;
    background-color: #FFFDF8;
    box-shadowborder-radius: 0 4px 10px rgba(0,0,0,0.15);
    box-sizing:border-box;
    paddind:20px;
}
.access-title {
border-bottom-color:#FFFDF8;
}
.access-box h3 {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.access-box p {
     text-align: center;
    line-height: 1.8;
    margin-top: 20px;
}

    footer {
    margin-top: 100px;
    text-align: center;}
   
 .menu-image {
    display: block;
    width:100%;
    max-width:1000px;
    height:auto;
    margin: 30px auto 60px;
    border-radius: 15px;
    aspect-ratio: 1200 / 700;
    object-fit: cover;
}

.logo-area {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 20px;
}
.title-area {
    text-align: center;
}

.title-area h1 {
    margin: 0;
    line-height: 1;
    padding-top: 10px;
}

.title-area .sub-title {
    color: #A66A2C;
    font-size: 18px;
    margin-top: 12px;
    padding: 0;
    line-height: 1;
}

.logo-area h1 {
    margin: 0;
}

.logo {
    width: 50px;
    height: auto;
    position: relative;
    top: 10px;
}

main {
    margin-top: 0px;
}

header {
    background-color: #FFFDF8;
    padding: 1px 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 10px;
    z-index: 1000;

    width: 92%;
    margin: 0 auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


footer {
background-image: url("footer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px 0;
    margin-top: 100px;
    margin:0;
}


@media (max-width: 768px) {
    nav a {
        display:block;
        width: 150px;
        margin: 10px auto;
        padding: 10px 0;
        border-radius: 30px;
    }

    nav {
        text-align: center;
    }
   

}
.home-title {
    width: fit-content;
    margin: 40px auto 30px;
    padding-bottom: 5px;
    border-bottom: 2px solid #D8C7A0;
    transform: translateY(10px);
}


.slideshow {
    position: relative;
    max-width: 1200px;
    width:100%;
    aspect-ratio: 1200/700;
    margin: 20px auto 0;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slide 10s infinite;
}

.slideshow img:nth-child(1) {
    animation-delay: 0s;
}

.slideshow img:nth-child(2) {
    animation-delay: 3.3s;
}

.slideshow img:nth-child(3) {
    animation-delay: 6.6s;
}

@keyframes slide {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
.map-image {
    display: block;
    width: 100%;
    max-width:600px;
    height: auto;
    margin: -50px auto 0;
    position: relative;
}
.Neko-image{
display: block;
width: 270px;
height: auto;
margin: -50px auto 0;
position: relative;
}
.home-title {
    font-family: "Georgia", serif;
    font-size: 32px;
    font-weight: bold;
    position: relative;
    top: -10px;
}
.home-news {
    padding: 80px 20px;
    text-align: center;
}


.home-news h2 {
    color: #5C4033;
    margin-bottom: 5px;
    font-size: 32px;
}

.home-news > p {
    color: #7A8F6B;
    margin-bottom: 30px;
}

.news-list {
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.news-item {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 0;
}

.news-item span {
    color: #7A8F6B;
    min-width: 100px;
}

.news-item p {
   margin: 10px 0 0;
    color: #5C4033;
}
.cat .cat-name {
    font-size: 18px;
    font-weight: bold;
}

.walking-cat {
width: 200px;
height: auto;
display: block;
margin: 0 auto;

position: relative;

 animation: fluffy 3s ease-in-out infinite;
}

@keyframes fluffy {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0);
    }
}
.sns-icons {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 15px;
}

.sns-icons a {
    color: #5C4033;
    text-decoration: none;
    font-size: 32px;
    transition: 0.3s;
}

.sns-icons a:hover {
    color: #7A8F6B;
    transform: translateY(-3px);
}

.access-hero {
    width: 100%;
    height: 300px;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("ヘッダー下写真.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

.access-hero h2 {
    color: #FFFDF8;
    font-size: 40px;
    margin: 0;

    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -80%);

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
